.Product {
    display: flex;
    flex-direction: column;
    border: 2px solid burlywood;
    margin: 20px;
    width: 400px;
    height: 600px;
    &__title {
        font-weight: 800;
        margin-bottom: 15px;
    }
    &__Img {
        width: 150px;
    }
    &__Des {
        border: 2px solid cadetblue;
        width: 400px;
        height: 150px;
        overflow: scroll;
        overflow-x: scroll;
        overflow-y: none;
    }
    &__Cat {
        margin: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__category {
            font-size: larger;
            font-weight: 600;
        }
    }
}
.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: larger;
    margin-bottom: 15px;
}
.cartIcon {
    &_On {
        color: darkblue;
    }
    &_Off {
        color: darkgray;
    }
}
.favIcon {
    &_On {
        color: hotpink;
    }
    &_Off {
        color: darkgray;
    }
}
